body {

    background: #c8ddec;
}


.container {
    width: 1410px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}
.menu__btn {
    background-color: #3498DB;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu_btn:hover, .menu__btn:focus {
    background-color:#ffffff ;
}
.menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {background-color: #ddd}

.show {display:block;}

.info{
    text-align: center;
}
